ASSIGNMENTS

30-JAN

In [1]:
 #1) Write a code to draw this pattern
 #       *
 #      ***
 #     *****
 #    *******
 #   *********
 #  ***********
 # *************
n=7
for i in range(n):
    print(" "*(n-i),end="")
    for j in range(i*2+1):
        print("*",end="")#itertion will be shown in one line(end=" ")
    print("\r")

       *
      ***
     *****
    *******
   *********
  ***********
 *************

In [2]:
#2) Went a mall
#Take as input of the product price
#if the product price is >=3000 then 20% off
#Print the product price after discount
#if the product price is <3000 and >=2000 then 30% off
#If the product price is 2999 then you will get a special gift
#Print the product price after discount
#if the product price is <2000 and >=1000 then 40% off
#Print the product price after discount
product_price=int(input("Enter the product price in rupees: "))
if (product_price>=1000 and product_price<2000):
    #print("Price of product is:{}".format(product_price*0.6))   (one way 100-20=80%)
    print("Price of product is:{}".format(product_price-product_price*0.4))  #(other way)
elif(product_price>=2000 and product_price<3000):
    #print("Price of product is:{}".format(product_price*0.7))   (one way 100-30=70%)
    print("Price of product is:{}".format(product_price-product_price*0.3))  #(other way)
else:
    #print("Price of product is:{}".format(product_price*0.8))  (one way 100-40=60%)
    print("Price of product is:{}".format(product_price-product_price*0.2))   #(other way)

Enter the product price in rupees:  2999

Price of product is:2099.3

31 JAN

In [3]:
#1) course_name="Data Science MasterClass"
#just print science from froward and reverse direction  using slicing
course_name="Data Science MasterClass"
course_name[5:12]

'Science'

In [4]:
course_name[11:4:-1]

'ecneicS'

1 FEB

In [7]:
#1) How to use index to iterate the string in reverse direction
str="WE R GOOD"                             #-1 represent in reverse order
for i in range(len(str)-1,-1,-1):           #len(str)-1 gives the last index, 
    print(i,"=",str[i])                     #-1 represent the last iterator (till 0)

8 = D
7 = O
6 = O
5 = G
4 =
3 = R
2 =
1 = E
0 = W

In [8]:
#Another way
string="pwskills"
ch=len(string)-1
while(ch>=0):
    print(string[ch])
    ch=ch-1

s
l
l
i
k
s
w
p

In [9]:
#another way
for i in range(len(str)):
    print(str[len(str)-(i+1)])

D
O
O
G

R

E
W

In [10]:
#2) check Whether vowel or not
name="pwskills"
vowel="AaEeIiOoUu"
for ch in name:
    if ch in vowel:
        print("{} this is a vowel".format(ch))
    else :
        print("{} this is not a vowel".format(ch))

p this is not a vowel
w this is not a vowel
s this is not a vowel
k this is not a vowel
i this is a vowel
l this is not a vowel
l this is not a vowel
s this is not a vowel

In [11]:
#3) how to get even no using list comprehension
[i if i%2==0 else "ODD" for i in range(20)]

[0,
 'ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10,
 'ODD',
 12,
 'ODD',
 14,
 'ODD',
 16,
 'ODD',
 18,
 'ODD']

In [12]:
#4) Iterate through a list=[1,2,3,4,5,6,7,8]
#and print submission of even variable or submission of odd variable to 2 reference variable
list=[1,2,3,4,5,6,7,8]
even_sum=0
odd_sum=0
for i in list:
    if i%2==0:
        even_sum+=i
    else:
        odd_sum+=i
print(even_sum)
print(odd_sum)

20
16

In [13]:
even_sum=sum([num for num in list if num%2==0])
even_sum

20

In [14]:
odd_sum=sum([num for num in list if num%2!=0])  
odd_sum

16

In [15]:
#5) lst=[1,2,3,4,5,6,7,8,9,10]
#print the square of all number in the form of list comprehension
lst=[1,2,3,4,5,6,7,8,9,10]
[num**2 for num in lst]   #2 stars is for power

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
#6) Create a list of only the positive numbers from a given list: number=[-2,-1,0,1,2,3,4]
number=[-2,-1,0,1,2,3,4]
[num for num in number if num>=0]

[0, 1, 2, 3, 4]

In [18]:
#7) Create a list of only first letter of words in a list
words=["apple","banana","cherry","date"]
[word[0] for word in words]

['a', 'b', 'c', 'd']

In [19]:
#8) convert a temperature celsius into fahrenhite using list comprehension
#(9/5)*temp-32
celsius_tem=[0,10,20,30,40,50]
[(9/5)*temp+32 for temp in celsius_tem]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [20]:
#9) Flatten a list of list into a single list using list comprehension
lists=[[1,2,3],[4,5,6],[7,8,9]]
[num for sublist in lists for num in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
#10) using both code and list comprehension
#create a list of only the prime numbers from the list
numbers=[0,1,2,3,4,5,6,7,8,9,10]
prime_list=[]
for i in numbers:
    if i==0 or i==1:
        continue
    for j in range(2,i//2+1):
        if i%j==0:
            break
    else:
        prime_list.append(i)
prime_list

[2, 3, 5, 7]

In [2]:
[num for num in numbers if num!=0 and num!=1 if all(num%i!=0 for i in range(2,num))]

[2, 3, 5, 7]

In [3]:
#11) using both code and list comprehension
#Create a list of all the possible combination of 2 elements from a list
import itertools

numbers=[1,2,3,4,5]

combinations = []

for r in range(len(numbers)+1):
    for combination in itertools.combinations(set(numbers), r):
        combinations.append(combination)

print(combinations)

[(), (1,), (2,), (3,), (4,), (5,), (1, 2), (1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5), (4, 5), (1, 2, 3), (1, 2, 4), (1, 2, 5), (1, 3, 4), (1, 3, 5), (1, 4, 5), (2, 3, 4), (2, 3, 5), (2, 4, 5), (3, 4, 5), (1, 2, 3, 4), (1, 2, 3, 5), (1, 2, 4, 5), (1, 3, 4, 5), (2, 3, 4, 5), (1, 2, 3, 4, 5)]