In [1]:
#Formatting
age=19
print("My age is {age}")

My age is {age}

In [2]:
print(f"My age is {age}") # f here is f-string basically used for formatting purpose
                          # When we have to write variable inside a print statement without a comma

My age is 19

In [3]:
name="Deepa"
age=20
print("My name is {} and age is {}".format(name,age))

My name is Deepa and age is 20

In [4]:
print("My name is {} and age is {}".format(age,name)) #getting reverse

My name is 20 and age is Deepa

In [5]:
#When we have to write in correct place in format irrespective of the order
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is Deepa and age is 20

In [6]:
#Exercise
# name="Krish naik"
# age=32
# degree=BE
# My age is 32 and I have completed:my degree of BE with the name of Krish naik

In [11]:
name="Krish naik"
age=32
degree="BE"
print("My age is {firstage} and i have completed: my degree of {degreename} with the name of {firstname}".format(firstage=age,firstname=name,degreename=degree))

My age is 32 and i have completed: my degree of BE with the name of Krish naik

In [14]:
name="Krish naik"
age=32
degree="BE"
print("My age is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name))

My age is 32 and i have completed: my degree of BE with the name of Krish naik

In [16]:
name="Krish naik"
age=32
degree="BE"
print(f"My age is {age} and i have completed: my degree of {degree} with the name of {name}")

My age is 32 and i have completed: my degree of BE with the name of Krish naik

In [ ]:
#Decision making situation

In [19]:
#if 
age=19
if age>=18:
    print("You are eligible to vote.")

You are eligible to vote.

In [20]:
#How to take input from user
name=input("Enter your name: ")
name

Enter your name: Deepa Gupta

'Deepa Gupta'

In [22]:
age=int(input("Enter your age: "))
age

Enter your age: 19

19

In [26]:
#Exercise
#Take input of a age
#Check whether the age is >=18 or <=45
#Display a message you are a young blood 
age=int(input("Enter your age:"))
if age>=18 and age<=45:
    print("You are a young blood")

Enter your age:45
You are a young blood

In [28]:
#if-else
age=int(input("Enter your age:"))
if age>=18 and age<=45:
    print("You are a young blood")
else:
    print("Thank you. We'll let you know")

Enter your age:56
Thank you. We'll let you know

In [44]:
#Exercise
#Went a mall
#Take as input of the product price
#if the product price is <1000 then 30% off
#Print the product price after discount
#if the product price is >=1000 then 20% off
#Print the product price after discount
product_price=int(input("Enter the product price in rupees: "))
if (product_price<1000):
    #print("Price of product is:{}".format(product_price*0.7))   (one way 100-20=80%)
    print("Price of product is:{}".format(product_price-product_price*0.3))  #(other way)
else:
    #print("Price of product is:{}".format(product_price*0.8))  (one way 100-30=70%)
    print("Price of product is:{}".format(product_price-product_price*0.2))   #(other way)

Enter the product price in rupees: 2000
Price of product is:1600.0

In [56]:
#Went a mall
#Take as input of the product price
#if the product price is >=3000 then 20% off
#Print the product price after discount
#if the product price is <3000 and >=2000 then 30% off
#If the product price is 2999 then you will get a special gift
#Print the product price after discount
#if the product price is <2000 and >=1000 then 40% off
#Print the product price after discount
product_price=int(input("Enter the product price in rupees: "))
if (product_price>=1000 and product_price<2000):
    #print("Price of product is:{}".format(product_price*0.6))   (one way 100-20=80%)
    print("Price of product is:{}".format(product_price-product_price*0.4))  #(other way)
elif(product_price>=2000 and product_price<3000):
    #print("Price of product is:{}".format(product_price*0.7))   (one way 100-30=70%)
    print("Price of product is:{}".format(product_price-product_price*0.3))  #(other way)
else:
    #print("Price of product is:{}".format(product_price*0.8))  (one way 100-40=60%)
    print("Price of product is:{}".format(product_price-product_price*0.2))   #(other way)

Enter the product price in rupees: 2999
You got  a suit case.

In [55]:
(40/100)*1500

600.0

In [57]:
#Nested if
product_price=int(input("Enter the product price in rupees: "))
if (product_price>=1000 and product_price<2000):
    #print("Price of product is:{}".format(product_price*0.6))   (one way 100-20=80%)
    print("Price of product is:{}".format(product_price-product_price*0.4))  #(other way)
elif(product_price>=2000 and product_price<3000):
    if(product_price==2999):
        print("Congratulations,you got a suit case.")
    #print("Price of product is:{}".format(product_price*0.7))   (one way 100-30=70%)
    print("Price of product is:{}".format(product_price-product_price*0.3))  #(other way)
else:
    #print("Price of product is:{}".format(product_price*0.8))  (one way 100-40=60%)
    print("Price of product is:{}".format(product_price-product_price*0.2))   #(other way)

Enter the product price in rupees: 2999
Congratulations,you got a suit case.
Price of product is:2099.3

In [ ]:
#Single statement suits
if(product_price==1000):print("We can also this if code in one line")
else:
    ("Unlucky")

In [ ]:
#Loop statement 
#while loop
#for loop
#Do-while loop
#nested loop
#loop control(break,continue,pass)

In [59]:
#While loop and while-else
joining_age=25
while(joining_age<=60):
    print(f"Current working year {joining_age}")
    joining_age=joining_age+1

Current working year 25
Current working year 26
Current working year 27
Current working year 28
Current working year 29
Current working year 30
Current working year 31
Current working year 32
Current working year 33
Current working year 34
Current working year 35
Current working year 36
Current working year 37
Current working year 38
Current working year 39
Current working year 40
Current working year 41
Current working year 42
Current working year 43
Current working year 44
Current working year 45
Current working year 46
Current working year 47
Current working year 48
Current working year 49
Current working year 50
Current working year 51
Current working year 52
Current working year 53
Current working year 54
Current working year 55
Current working year 56
Current working year 57
Current working year 58
Current working year 59
Current working year 60

In [60]:
joining_age=25
while(joining_age<=60):
    print(f"Current working year {joining_age}")
    joining_age=joining_age+1
else:
    print("Its Time to retire")

Current working year 25
Current working year 26
Current working year 27
Current working year 28
Current working year 29
Current working year 30
Current working year 31
Current working year 32
Current working year 33
Current working year 34
Current working year 35
Current working year 36
Current working year 37
Current working year 38
Current working year 39
Current working year 40
Current working year 41
Current working year 42
Current working year 43
Current working year 44
Current working year 45
Current working year 46
Current working year 47
Current working year 48
Current working year 49
Current working year 50
Current working year 51
Current working year 52
Current working year 53
Current working year 54
Current working year 55
Current working year 56
Current working year 57
Current working year 58
Current working year 59
Current working year 60
Its Time to retire

In [62]:
bankaccount=1000
while(bankaccount!=0):
    print(bankaccount)
    bankaccount=bankaccount-100
else:
    print("Add amount in your bank account")

1000
900
800
700
600
500
400
300
200
100
Add amount in your bank account

In [63]:
#for loop
lst=["Deepa",1,2,3,4,"Apple","Banana"]
for x in lst:
    print(x)

Deepa
1
2
3
4
Apple
Banana

In [64]:
fruit_basket=["apple","banana","grapes","guava","pineapple"]
for a in fruit_basket:
    print(a)
    if(a=="grapes"):  #loop will execute the inner code also in a sequence
        print("Its is juicy and tiny fruit")

apple
banana
grapes
Its is juicy and tiny fruit
guava
pineapple

In [65]:
fruit="guava"
for i in fruit:
    print(i)   #String is also a collection of objects

g
u
a
v
a

In [66]:
fruit="guava"
for i in fruit:
    print(i ,end=" ")  #the iteration will be shown in one line

g u a v a

In [68]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [69]:
for i in range(1,6,2):
    print(i)

1
3
5

In [2]:
#Nested-loop
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")   #itertion will be shown in one line(end=" ")
    print("\r")   #\r goes to the next line and move to the left most side

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [19]:
#Assignment
n=7
for i in range(n):
    print(" "*(n-i),end="")
    for j in range(i*2+1):
        print("*",end="")#itertion will be shown in one line(end=" ")
    print("\r")

       *
      ***
     *****
    *******
   *********
  ***********
 *************

In [ ]:
#Loop control
fruit="guava"
for i in fruit:
    print(i)

In [3]:
fruit_basket=["apple","banana","grapes","guava","pineapple"]
for a in fruit_basket:
    if(a=="guava"):
        print("The fruit is guava")
        break   #exit from the entire loop
    print(a)

apple
banana
grapes
The fruit is guava

In [5]:
fruit_basket=["apple","banana","grapes","guava","pineapple"]
for a in fruit_basket:
    if(a=="guava"):
        print("The fruit is guava")
        pass    # do nothing just pass the loop further
    print(a)

apple
banana
grapes
The fruit is guava
guava
pineapple

In [6]:
fruit_basket=["apple","banana","grapes","guava","pineapple"]
for a in fruit_basket:
    if(a=="guava"):
        print("The fruit is guava")
        continue  #skips one loop in between
    print(a)

apple
banana
grapes
The fruit is guava
pineapple